<header class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
            <div class="container">
                <div class="navbar-header col-lg-3">
                    <a class="navbar-brand" href="index.html">Camille PROTHIN</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse col-lg-9 menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav d-flex flex-lg-row" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="smooth-menu active"></li>
                        <li><a href="/test-portfolio">Accueil</a></li>
                        <li><a href="/test-portfolio/audiovisuel">Projets</a></li>
                        <li><a href="/test-portfolio/photo">Photo</a></li>
                        <li><a href="/test-portfolio/contact">Contact</a></li>
                        <li><a target="_blank" href="img/CV-camille.pdf">CV</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
      <div class="clearfix"></div>
  </header>
