<!--portfolio start -->
<section id="portfolio" class="portfolio">

  <div class="container">
      <div class="portfolio-content">
          <div class="isotope">
              <div class="row">
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                      <img src="img/galerie/1.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content" style="margin-top: 40%;"> <!-- Ajustez la marge supérieure ici -->
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Enfant des bois</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/1.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal -->
                  </div>
                  <div class="item">
                      <a href="img/galerie/2.jpg"><img src="img/galerie/2.jpg" alt="portfolio image"/></a>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="item">
                  <a href="img/galerie/3.jpg"><img src="img/galerie/3.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <a href="img/galerie/4.jpg"><img src="img/galerie/4.jpg" alt="portfolio image"/></a>
                  </div>
                  <div class="item">
                      <a href="img/galerie/5.jpg"><img src="img/galerie/5.jpg" alt="portfolio image"/></a>
                  </div>
              </div>
              
              <div class="col-sm-4">
                <div class="item">
                  <a href="img/galerie/6.jpg"><img src="img/galerie/6.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <a href="img/galerie/7.jpg"><img src="img/galerie/7.jpg" alt="portfolio image"/></a>
                  </div>
                  <div class="item">
                      <a href="img/galerie/8.jpg"><img src="img/galerie/8.jpg" alt="portfolio image"/></a>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="item">
                  <a href="img/galerie/9.jpg"><img src="img/galerie/9.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              
              <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <a href="img/galerie/10.jpg"><img src="img/galerie/10.jpg" alt="portfolio image"/></a>
                  </div>
                  <div class="item">
                      <a href="img/galerie/11.jpg"><img src="img/galerie/11.jpg" alt="portfolio image"/></a>
                  </div>
              </div>
              <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <a href="img/galerie/12.jpg"><img src="img/galerie/12.jpg" alt="portfolio image"/></a>
                  </div>
                  <div class="item">
                      <a href="img/galerie/13.jpg"><img src="img/galerie/13.jpg" alt="portfolio image"/></a>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="item">
                  <a href="img/galerie/14.jpg"><img src="img/galerie/14.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              
              <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/15.jpg"><img src="img/galerie/15.jpg" alt="portfolio image"/></a>
                </div>
                <div class="item">
                  <a href="img/galerie/16.jpg"><img src="img/galerie/16.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="item">
                  <a href="img/galerie/17.jpg"><img src="img/galerie/17.jpg" alt="portfolio image"/></a>
                </div>
              </div>
              <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <a href="img/galerie/18.jpg"><img src="img/galerie/18.jpg" alt="portfolio image"/></a>
                  </div>
              </div>

              <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/19.jpg"><img src="img/galerie/19.jpg" alt="portfolio image"/></a>
                </div>
                <div class="item">
                    <a href="img/galerie/20.jpg"><img src="img/galerie/20.jpg" alt="portfolio image"/></a>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <a href="img/galerie/21.jpg"><img src="img/galerie/21.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/22.jpg"><img src="img/galerie/22.jpg" alt="portfolio image"/></a>
                </div>
                <div class="item">
                    <a href="img/galerie/23.jpg"><img src="img/galerie/23.jpg" alt="portfolio image"/></a>
                </div>
            </div>
            
            <div class="col-sm-4">
              <div class="item">
                <a href="img/galerie/24.jpg"><img src="img/galerie/24.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/25.jpg"><img src="img/galerie/25.jpg" alt="portfolio image"/></a>
                </div>
                <div class="item">
                    <a href="img/galerie/26.jpg"><img src="img/galerie/26.jpg" alt="portfolio image"/></a>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <a href="img/galerie/27.jpg"><img src="img/galerie/27.jpg" alt="portfolio image"/></a>
              </div>
            </div>




            <div class="col-sm-4 popup-gallery">
              <div class="item">
                <a href="img/galerie/28.jpg"><img src="img/galerie/28.jpg" alt="portfolio image"/></a>
              </div>
              <div class="item">
                  <a href="img/galerie/29.jpg"><img src="img/galerie/29.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/30.jpg"><img src="img/galerie/30.jpg" alt="portfolio image"/></a>
                </div>
                <div class="item">
                    <a href="img/galerie/31.jpg"><img src="img/galerie/31.jpg" alt="portfolio image"/></a>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <a href="img/galerie/32.jpg"><img src="img/galerie/32.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            
            <div class="col-sm-4 popup-gallery">
              <div class="item">
                <a href="img/galerie/33.jpg"><img src="img/galerie/33.jpg" alt="portfolio image"/></a>
              </div>
              <div class="item">
                <a href="img/galerie/34.jpg"><img src="img/galerie/34.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <a href="img/galerie/35.jpg"><img src="img/galerie/35.jpg" alt="portfolio image"/></a>
              </div>
            </div>
            <div class="col-sm-4 popup-gallery">
                <div class="item">
                  <a href="img/galerie/36.jpg"><img src="img/galerie/36.jpg" alt="portfolio image"/></a>
                </div>
            </div>

              </div>
          </div>
      </div>
  </div>
  <div>
      <img src="img/galerie/appareil.png" alt="" class="appareil img-fluid">
  </div>

<!--portfolio end -->

<div class="polaroid-camera">
  <button id="button"></button>
  <div id="circle"></div>
  <div class="lens">
    <div class="reflection"></div>
  </div>
  <div class="flash"></div>
  <div class="stripes"></div>
  <div class="bottom">
    <div class="bottom-front"></div>
  </div>
  <div class="slot"></div>
  <div class="shadow"></div>
  <div id="photo" class="photo">
    <div class="house">
      <div class="windows"></div>
    </div>
    <div class="grey-alien">
      <div class="eye-left"></div>
      <div class="eye-right"></div>
    </div>
    <div class="ufo">
      <div class="outer"></div>
      <div class="inner"></div>
      <div class="lights">
          <div class="light light1"></div>
          <div class="light light2"></div>
          <div class="light light3"></div>
      </div>
  </div>
  </div>
</div>